<mat-card>
  <mat-card-content>
    <div id="nome-estrela">
      <h1>Leonardo Dias Lissone Santomero</h1>
    </div>
    <button id="btn-registro-ponto" mat-raised-button routerLink="/registrar-ponto">Efetuar registro de ponto</button>
    <button id="btn-registro-abono" mat-raised-button routerLink="/registrar-abono">Efetuar registro de abono</button>
    <button id="btn-alterar-senha" mat-raised-button routerLink="/alterar-senha">Alterar senha</button>
    <button id="btn-sair" mat-raised-button routerLink="/login">Sair</button>
  </mat-card-content>
  <mat-card-footer>
    <img src="../../assets/logo2.png" alt="Logo">
  </mat-card-footer>
</mat-card>
