mat-card-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

mat-card-footer{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

mat-card-title{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 3rem;
  padding-top: 1.5rem;
}


img{
  max-height: 250px;
  max-width: 250px;
  width: auto;
  height: auto;
  margin-top: 1.5rem;
}

#form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#btn-confirmar{
  width: 7rem;
  height: 3.1rem;
  margin-left: 3rem;
  margin-top: .4rem;
  background-color: green;
  color: white;
}

#btn-voltar{
  width: 7rem;
  height: 3.1rem;
  margin-left: 3rem;
  margin-top: .4rem;
  background-color: red;
  color: white;
}

#nome{
  width: 82%;
}

#cpf{
  width: 38%;
}
