<mat-card>
  <mat-card-content>
    <h1>Registrar abono</h1>
    <mat-form-field id="tipo" appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select>
        <mat-option value="consulta-medica">Consulta médica</mat-option>
        <mat-option value="ferias">Férias</mat-option>
        <mat-option value="outros">Outros</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="descricao" appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Digite aqui a descrição do abono"></textarea>
    </mat-form-field>
    <div>
      <mat-form-field id="entrada" appearance="outline">
        <mat-label>Entrada</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field id="saida" appearance="outline">
        <mat-label>Saída</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button id="btn-confirmar" mat-raised-button (click)="openSnackBar()">Confirmar</button>
      <button id="btn-voltar" mat-raised-button routerLink="/home-admin">Voltar</button>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <img src="../../assets/logo2.png" alt="Logo">
  </mat-card-footer>
</mat-card>
