<mat-card>
    <mat-card-content>
      <div>
        <img src="../../assets/logo.png" alt="Logo">
      </div>
      <div id="linha"></div>
      <div id="form">
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" [(ngModel)]="cpf" name="cpf">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>SENHA</mat-label>
          <input matInput placeholder="SENHA" [(ngModel)]="senha" name="senha">
        </mat-form-field>
        <a routerLink="/esqueceu-senha" style="margin-top: -10px;">Esqueceu sua senha?</a>
        <button mat-raised-button (click)="login()">Entrar</button>
      </div>
    </mat-card-content>
</mat-card>
