<mat-card>
  <mat-card-content>
    <h1>Cadastrar funcionário(a)</h1>
    <div id="form">
      <mat-form-field id="nome" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field id="dt_nascimento" appearance="outline">
        <mat-label>Data de nascimento</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field id="cpf" appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field id="email" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field id="nm_empresa" appearance="outline">
        <mat-label>Nome da empresa</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field id="cnpj" appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field id="entrada" appearance="outline">
        <mat-label>Entrada</mat-label>
        <input matInput>
        <mat-icon matSuffix>query_builder</mat-icon>
      </mat-form-field>
      <mat-form-field id="saida" appearance="outline">
        <mat-label>Saída</mat-label>
        <input matInput>
        <mat-icon matSuffix>query_builder</mat-icon>
      </mat-form-field>
      <mat-form-field id="cargo" appearance="outline">
        <mat-label>Cargo</mat-label>
        <input matInput>
      </mat-form-field>
    <mat-checkbox>Conceder acesso de cadastro</mat-checkbox>
      <button id="btn-confirmar" mat-raised-button>Confirmar</button>
      <button id="btn-voltar" mat-raised-button routerLink="/home-admin">Voltar</button>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <img src="../../assets/logo2.png" alt="Logo">
  </mat-card-footer>
</mat-card>
