mat-card-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img{
  max-height: 250px;
  max-width: 250px;
  width: auto;
  height: auto;
  margin-top: 1.5rem;
}

#linha{
  height: 250px;
  border-right: 1px solid black;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btn-mudar-senha{
  width: 7rem;
  margin-left: 3rem;
  margin-top: 1rem;
  background-color: green;
  color: white;
}

#btn-voltar{
  width: 7rem;
  margin-left: 3rem;
  margin-top: 1rem;
  background-color: red;
  color: white;
}
