<mat-card>
  <mat-card-content>
    <div>
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div id="linha"></div>
    <div id="form">
      <mat-form-field appearance="outline">
        <mat-label>Nova senha</mat-label>
        <input matInput placeholder="Nova senha">
      </mat-form-field>
      <button id="btn-mudar-senha" mat-raised-button>Mudar senha</button>
      <button id="btn-voltar" mat-raised-button routerLink="/login">Voltar</button>
    </div>
  </mat-card-content>
</mat-card>
