<mat-card>
  <mat-card-content>
    <div>
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div id="linha"></div>
    <div id="funcionalidades">
      <p>
        Indique o tipo de marcação
      </p>
      <h1>
        18-03 18:08
      </h1>
      <button id="btn-entrada" mat-raised-button>Entrada / Retorno</button>
      <button id="btn-saida" mat-raised-button>Saída / Pausa</button>
      <a routerLink="/registrar-abono" style="margin-top: -10px;">Registrar abono</a>
    </div>
  </mat-card-content>
</mat-card>
